---
import "../components/reset.css"
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import myImage from "../fondo.jpg";
---

<Layout title="Sobre mí">
	<main>

		Sobre mí

		<header>
			<div class="container">
				<nav>
					<ul>
						<li><a href="/index.astro">OYU</a></li>
						<li><a href="/portfolio.astro">PORTFOLIO</a></li>
						<li><a href="/galery.astro">GALERIA</a></li>
						<li><a href="/about.astro">SOBRE MI</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div>
			<Image src={myImage} alt="Un pájaro."/>
		</div>

		<div>
			¡Hola, me llamo Antonio Oyuela!

Soy Técnico en Sistemas Microinformáticos y Redes, Diseño Gráfico y Diseño de Moda por la Escuela de Arte de Cádiz (España). Me especializo en la ilustración digital y tengo preferencia por el diseño de personajes e ilustrar/diseñar cartelería, portadas editoriales, etc…

Siempre he tenido gran facilidad para recrear otros estilos, así que mi mayor preocupación, desde que me gradué en Diseño Gráfico, ha sido la de encontrar uno propio. Entre mis principales influencias se encuentran Disney y artistas como Tetsuya Nomura y Yoshitaka Amano; mi mayor inspiración han sido los videojuegos.

He trabajado como colorista de fondos de la serie animada Gerónimo Stilton, para Verjim Animation Studio, me he iniciado en el modelaje 3D con la guía de LeonStudio VFX y empecé a formarme en Concept Art gracias a profesionales como Nacho Yagüe, J.Alexander Guillen y Guillem H. Pongiluppi.

Me apasiona crear, aprender y perfeccionar lo aprendido.
		</div>


		h1 Habilidades
		.skills
		  .circular-progress.html5
		  .circular-progress.css3
		  .circular-progress.jscript

        <footer>

        </footer>
	</main>

<style>
body {
  background: #000;
}

h1 {
  color: #fff;
  text-align: center;
}

.circular-progress {
  position: relative;
  margin: auto;
  &,
  &:before,
  &:after {
     width: 12rem;
     height: 12rem;
     border-radius: 50%;
  }
  
  &:before,
  &:after {
     position: absolute;
     top: 0;
     left: 0;
     text-align: center;
  }
  
  &:before {
    line-height: 8rem;
    padding: .5em;
    box-sizing: border-box;
    font-size: 1.8rem;
  }
  
  &:after {
    line-height: 13rem;
  }

}

@function progress ($percent){
  $deg: $percent/100 * 180;
  @return #{$deg}deg;
}

@mixin circular-progress($percent,$skill,$color,$bgcolor){
  $progress: progress($percent);
  background: linear-gradient(
               0deg,
               $color 50%,
               rgba($color, .2) 50%
  );
  transform: rotate($progress);
  
  &:before,
  &:after {
     color: $color;
  }
  
  &:before {
    content: "#{$skill}";
    background: $bgcolor content-box;
    transform: rotate(-#{$progress});
    text-transform: uppercase;
  }
  
  &:after {
    content: "#{$percent}%";
    background: linear-gradient(
                transparent 50%,
                $bgcolor 50%
    );
    transform: scale(1.1)  rotate(-#{$progress});
  }
}

.html5 {
  @include circular-progress(
    70,
    html5,
    tomato,
    #000
    )
}

.css3 {
  @include circular-progress(
    85,
    css3,
    steelblue,
    #000
    )
}

.jscript {
  @include circular-progress(
    57,
    js,
    orange,
    #000
    )
}

.skills {
  display: flex;
  margin-top: 4em;
  flex-wrap: wrap;
}

</style>